
<h1 style="text-align: center;">Dashboard</h1>

<div class="charts">
<div id="chart-container"style="width:40%; height:250px; padding-left: 3%; margin: 2%;"></div>
<div id="main-progress-container">
  <div id="progress-bar-container">
    <div id="progress-bar">0%</div></div>Progress Bar</div>
</div>

<br></br>
<div class="table_heading"><u>Incomes</u></div>
<div class="incomes">
  <table  BORDER=5 BORDERCOLOR=BLACK>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
    <% if @income.any? %>
     <% @income.each do |income| %>
     <tr>
       <th> <%= income.name %></th>
       <th> <%= income.amount %></th>
       <th> <%= income.date.strftime("%d-%m-%y") %></th>
     </tr>
     <% end %>
     <% else %>No Incomes Added
    <% end %>
  </table>
</div>
<div class="expenditures">
  <table BORDER=5 BORDERCOLOR=BLACK>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
<% if @expenditure.any? %>
 <% @expenditure.each do |expenditure| %>
    <tr>
      <th> <%= expenditure.name %></th>
      <th> <%= expenditure.amount %></th>
      <th> <%= expenditure.date.strftime("%d-%m-%y") %></th>
    </tr>

 <% end %>
 <% else %>No Expenditures Added
<% end %>
</div>
<% if @goal.any? %>
   <% @goal.each do |goal| %>
      <%= goal.name %>
     <% end %>
   <% else %>No goals yet
<% end %>
</div>

<!-- <div id="progress-bar-container"></div> -->

  </div>
</div>
<br><br><br>
