<div class="user_forms">
  <%= form_for @expenditure do |f| %>
    <%= f.label :amount %>
    <%= f.text_field :amount %><br />
    <%= f.label :name %>
    <%= f.text_field :name %><br />
    <%= f.label :date %>
    <%= f.text_field :date %><br/>
    <%= f.submit value="Add Entry"%>
  <% end %>
</div>
