<div class="user_forms">
<%= form_for @goal do |f| %>
  <%= f.label :amount %>
  <%= f.text_field :amount %><br />
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :start_date %>
  <%= f.date_field :start_date %><br />
  <%= f.label :target_date %>
  <%= f.date_field :target_date %><br />
  <%= f.submit 'Submit goal' %>
<% end %>
</div>
