<!DOCTYPE html>
<html>
  <head>
    <title>MillionaireMachine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <!-- <a href="goal/new">Add a goal</a> -->
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <%= link_to "Add a goal", new_goal_path %>
      <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>

    <% end %>
    <%= alert %>
    <%= notice %>
    <%= yield %>
  </body>
</html>
