<!DOCTYPE html>
<html>
  <head>
    <title>MillionaireMachine</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://code.highcharts.com/highcharts.js" %>

  </head>
  <body>
    
<div class="user_signed_in">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="sign_in_buttons">
      <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <%= link_to "Add Income", new_income_path %>
      <%= link_to "Add Expenditure", new_expenditure_path %>
      <%= link_to "Add Projection", new_projection_path %>
      <%= link_to "Add Goal", new_goal_path %>

      <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>

    <% end %>
  </div>

</div>
    <%= alert %>
    <%= notice %>
    <%= yield %>

    <footer class="footer">
            © 2017 Copyright by Million-Machine Team |
            <a href="https://github.com/thesedatedprince/millionaire-machine" target="_blank">GitHub</a>


        </footer>

  </body>
</html>
