<!DOCTYPE html>
<html>
  <head>
    <title>MillionaireMachine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://code.highcharts.com/highcharts.js" %>
  
  </head>


  <body>
    <%= yield %>
  </body>
</html>
